:root {
    /* COLORS */
    --LIGHTBLUE: #4c5fd5;
    --BLACK: #000000;
    --LIGHTGREY: #DADBF1;
    --WHITE: #FFF;

    --FF: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
}


.navbar {
    display: flex;
    flex: 1;
    background-color: var(--BLACK);
    color: var(--WHITE);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

 .navbar li {
    list-style-type: none;
    padding: 0 30px;
    text-decoration: none;
}

.navbar li a {
    color: var(--WHITE);
    font-size: 2em;
    text-decoration: none;
}

#submit {
    background-color: rgb(40, 40, 40);
    border: 2px #fff solid;
    padding: 6px 15px;
    border-radius: 10px;
}
#signin {
    background-color: var(--LIGHTBLUE);
    padding: 8px 15px;
    border-radius: 10px;
}
.logo {
    color: var(--WHITE);
    font-size: 2.3rem;
    font-weight: 700;
}

.navbar .logo span {
    font-size: 2rem;
    cursor: pointer;
}

span:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: var(--LIGHTGREY);
}

.hero h1 {
    font-size: 6rem;
    font-weight: 400;
    padding-bottom: 25px;
}

.herosearch {
    width: 55%;
    padding-bottom: 60px;
}

.herosearch input {
    width: 100%;
    padding: 25px 30px;
    /* margin: 30px; */
    font-size: 2rem;
    border-radius: 6px;
    transition: 0.3s ease;
    border-width: 2px;
    outline: none;
    cursor: pointer;
    caret-color: dodgerblue;
}

.herosearch input:hover, .herosearch input:focus{
    border: 2px dodgerblue solid;
    box-shadow: 0 0 2px 0 dodgerblue;
}

input::placeholder {
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
 }

.herosearch .arrow {
    color: red;
}

#arrow {
    position: absolute;
    font-size: 25px;
    top: 438px;
    right: 440px;
}

#arrow:hover, #arrow:focus {
    color: dodgerblue;
} 

.main {
    padding: 200px;
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boxes {
    display: flex;
    width: 680px;
    height: 300px;
    margin: 50px 0;
    padding: 20px; 
    justify-content: start;
    align-items: start;
    overflow: hidden;
    color: var(--BLACK);
    border-radius: 18px;
}
.boxes h1, p {
    font-size: 30px;
    padding: 12px 0;
}

.boxes i {
    font-size: 99px;
    padding-top: 20px;
    padding-right: 40px;
    color: gold;
}

.footer {
    background: var(--BLACK);
    color: var(--WHITE);
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 500px;
    margin-bottom: 0;
}

.blocks {
    margin: 20px;
    padding: 30px;
}

.blocks ul {
    list-style-type: none;
    font-size: 21px;
    padding: 25px 0;
}

.blocks h1 {
    font-size: 35px;
}
.blocks li {
    padding: 3px 0;
}

.footer:nth-last-child(6){
    align-self: end;
}


@media(max-width: 1600px){
    
    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
    }
    .logo {
        width: 100%;
        border-bottom: 2px solid grey;
        padding: 20px 0;
    }
    .navbar ul {
        flex-direction: column;
        margin: auto;
    }

    .navbar li {
        position: relative;
        padding: 40px;
        
    }
    #submit {
        border: #000000;
        background-color: #000000;
        border-bottom: 2px solid grey;
        border-radius: 0;
        padding: 36px 80px;
    }
    #signin {
        background-color: #000000;
    }
    .herosearch {
        width: 80%;
    }
    .hero h1 {
        font-size: 4rem;
    }
}

@media(max-width: 900px) {

    .hero h1 {
        font-size: 2.5rem;
    }

}
